APP_PORT=
MARIADB_HOST=35.226.64.52
MARIADB_PORT=3307
MARIADB_DATABASE=grupo2
MARIADB_USER=
MARIADB_PASSWORD=
MONGODB_URI=
REDIS_URL=
MQTT_HOST=35.226.64.52
MQTT_PORT=1884
MQTT_USERNAME=
MQTT_PASSWORD=
MINIO_ENDPOINT=http://35.226.64.52:9010
MINIO_BUCKET=grupo2
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
